<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        body{margin:0; padding:0; font-family: montserrat; background: linear-gradient(120deg,#2980b9,#8e44ad); height: 100vh; overflow: hidden;}
        .center{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; background: white; border-radius: 10px;}
    </style>
    <title>Title</title>
</head>
<body>
<div class="center">
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p class="logout" style="position: relative; border-bottom: 2px solid #adadad; margin: 30px 0; padding: 0 0 20px 80px;"><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>Você não está logado</p>
        <a href="{% url 'login' %}" class="login">Entrar</a>
        <p>New User?<a href="{% url 'signup' %}">Cadastre-se Aqui!!!</a></p>
    {% endif %}
    {% endblock %}
</div>

</body>
</html>